.form {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px auto;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form h2 {
  text-align: center;
  color: #458bba;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.form input {
  width: calc(100% - 32px);
  padding: 8px 12px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form input:focus {
  outline: none;
  border-color: #458bba;
}

.form div label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
  margin-left: 2px;
}

.form .buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.form button {
  flex: 1;
  padding: 8px 15px;
  height: 40px;
  background: #458bba;
  font-size: 14px;
  font-family: "OpenSans-bold", Arial, sans-serif;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.form button:hover {
  background-color: #357399;
}

.form button.cancel {
  background-color: #fff;
  color: #458bba;
  border: 1px solid #458bba;
}

.form button.cancel:hover {
  background-color: #f1f1f1;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 6px;
  margin-left: 2px;
}

input:invalid {
  border-color: red;
}

input:invalid:focus {
  outline-color: red;
}

.form .field_hide {
  display: none;
}
